@model NCSolution.Models.AddNewQuestion
@{
    ViewBag.Title = "Add_New_Question";
    Layout = "~/Views/Share/_AdminLayout.cshtml";
}

@using (@Html.BeginForm("AddNewQuestion", "Admin", FormMethod.Post))
{
    <div class="row">
        <div class="alert alert-component" style="background-color:white">
            <h4 class="alert-heading text-semibold">Add A New Question </h4>
            <div style="min-height:300px; padding:40px;">

                <div class="form-group has-feedback has-feedback-left">
                    @Html.TextAreaFor(m => m.Question, new { @class = "form-control", placeholder = "Question", required = "required" })
                    <div class="form-control-feedback">
                        <i class="icon-help text-muted"></i>
                    </div>
                </div>

                <!--
                <div class="form-group">
                    <label class="control-label col-lg-1">Answer 1</label>
                    <div class="col-lg-11">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            @Html.TextBoxFor(m => m.Answer1, new { @class = "form-control", placeholder = "Answer 1", required = "required" })
                        </div>
                    </div>
                    <div class="form-control-feedback" style="pointer-events: visible;">
                        @Html.RadioButton("Answer", "", false, new { @class = "choice border-success-600 text-success-800", required = "required" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-1">Answer 2</label>
                    <div class="col-lg-11">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            @Html.TextBoxFor(m => m.Answer1, new { @class = "form-control", placeholder = "Answer 2", required = "required" })
                        </div>
                    </div>
                    <div class="form-control-feedback" style="pointer-events: visible;">
                        @Html.RadioButton("Answer", "", false, new { @class = "choice border-success-600 text-success-800", required = "required" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-1">Answer 3</label>
                    <div class="col-lg-11">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            @Html.TextBoxFor(m => m.Answer1, new { @class = "form-control", placeholder = "Answer 3", required = "required" })
                        </div>
                    </div>
                    <div class="form-control-feedback" style="pointer-events: visible;">
                        @Html.RadioButton("Answer", "", false, new { @class = "choice border-success-600 text-success-800", required = "required" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-1">Answer 4</label>
                    <div class="col-lg-11">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            @Html.TextBoxFor(m => m.Answer1, new { @class = "form-control", placeholder = "Answer 4", required = "required" })
                        </div>
                    </div>
                    <div class="form-control-feedback" style="pointer-events: visible;">
                        @Html.RadioButton("Answer", "", false, new { @class = "choice border-success-600 text-success-800", required = "required" })
                    </div>
                </div>-->
                
                <div class="form-group has-feedback">
                    @*<input type="text" class="form-control" placeholder="Answer 1" name="answer1" required="required">*@
                    <span class="form-group-addon"><i class="glyphicon glyphicon-hand-right"></i></span>
                    @Html.TextBoxFor(m => m.Answer1, new { @class = "form-control", placeholder = "Answer 1", required = "required" })

                    <div class="form-control-feedback" style="pointer-events: visible;">
                        @Html.RadioButton("Answer", 1, false, new { @class = "choice border-success-600 text-success-800", required = "required" })
                    </div>
                </div>
                <div class="form-group has-feedback ">
                    <span class="form-group-addon"><i class="glyphicon glyphicon-hand-right"></i></span>
                    @Html.TextBoxFor(m => m.Answer2, new { @class = "form-control", placeholder = "Answer 2", required = "required" })
                    <div class="form-control-feedback" style="pointer-events: visible;">
                        @Html.RadioButton("Answer", 2, false, new { @class = "choice border-success-600 text-success-800", required = "required" })
                    </div>
                </div>
                <div class="form-group has-feedback ">
                    <span class="form-group-addon"><i class="glyphicon glyphicon-hand-right"></i></span>
                    @Html.TextBoxFor(m => m.Answer3, new { @class = "form-control", placeholder = "Answer 3", required = "required" })

                    <div class="form-control-feedback" style="pointer-events: visible;">
                        @Html.RadioButton("Answer", 3, false, new { @class = "choice border-success-600 text-success-800", required = "required" })
                    </div>
                </div>
                <div class="form-group has-feedback ">
                    <span class="form-group-addon"><i class="glyphicon glyphicon-hand-right"></i></span>
                    @Html.TextBoxFor(m => m.Answer4, new { @class = "form-control", placeholder = "Answer 4", required = "required" })

                    <div class="form-control-feedback" style="pointer-events: visible;">
                        @Html.RadioButton("Answer", 4, false, new { @class = "choice border-success-600 text-success-800", required = "required" })
                    </div>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    @Html.DropDownListFor(m => m.Chapter, Model.ChaptersList, "-- Select Chapter --", new { @class = "form-control", required = "required" })
                    <div class="form-control-feedback">
                        <i class="icon-user text-muted"></i>
                    </div>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    @Html.DropDownListFor(m => m.Chapter, Model.SectionList, "-- Select Section --", new { @class = "form-control", required = "required" })
                    <div class="form-control-feedback">
                        <i class="icon-user text-muted"></i>
                    </div>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <button type="submit" class="btn btn-primary legitRipple pull-right">Save <i class="icon-plus22 position-right"></i></button>
                </div>
            </div>
        </div>
    </div>
        }
